@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Fredericka+the+Great&family=Kranky&family=Libre+Baskerville&family=Monoton&family=Nixie+One&family=Poiret+One&family=Raleway+Dots&family=Rye&family=Special+Elite&family=Vast+Shadow&display=swap');

$font-1: Codystar;
$font-2: Fredericka the Great;
$font-3: Kranky;
$font-4: Monoton;
$font-5: Nixie One;
$font-6: Poiret One;
$font-7: Raleway Dots;
$font-8: Rye;
$font-9: Special Elite;
$font-10: Vast Shadow;
$font-11: Libre Baskerville;


.font-1{font-family:$font-1}
.font-2{font-family:$font-2}
.font-3{font-family:$font-3}
.font-4{font-family:$font-4}
.font-5{font-family:$font-5}
.font-6{font-family:$font-6}
.font-7{font-family:$font-7}
.font-8{font-family:$font-8}
.font-9{font-family:$font-9}
.font-10{font-family:$font-10}
.font-11{font-family:$font-11}



