<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /kristenwedding
RewriteRule ^kristenwedding/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /kristenwedding/index.html [L]
</IfModule>